@model HealthCareApp.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Appointment</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PatientId" />
            <input type="hidden" asp-for="SlotId" />

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" readonly></input>
            </div><br />

            <!-- Slot Details -->
            <div class="form-group">
                <label>Appointment Date</label>
                <input type="text" class="form-control" value="@Model.AvailableSlot?.Availability?.Date" readonly />
            </div><br />

            <div class="form-group">
                <label>Day of Week</label>
                <input type="text" class="form-control" value="@Model.AvailableSlot?.Availability?.dayOfWeek" readonly />
            </div><br />

            <div class="form-group">
                <label>Start Time</label>
                <input type="text" class="form-control" value="@Model.AvailableSlot?.StartTime" readonly />
            </div><br />

            <!-- Doctor Details -->
            <div class="form-group">
                <label>Doctor</label>
                <input type="text" class="form-control"
                       value="@($"{Model.AvailableSlot?.Availability?.Doctor?.FirstName} {Model.AvailableSlot?.Availability?.Doctor?.LastName}")" readonly />
            </div><br />

            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div><br />

            <div class="form-group">
                <label asp-for="PatientPhone" class="control-label"></label>
                <input asp-for="PatientPhone" class="form-control" />
                <span asp-validation-for="PatientPhone" class="text-danger"></span>
            </div><br />

            <div class="form-group">
                <label asp-for="paymentMethod" class="control-label"></label>
                <input asp-for="paymentMethod" class="form-control" readonly/>
                <span asp-validation-for="paymentMethod" class="text-danger"></span>
            </div><br />

            <div class="form-group mt-3">
                <input type="submit" value="Change" class="btn btn-info me-2" />
                <a asp-action="Index" asp-route-id="@Model.PatientId" class="btn btn-secondary">Back to List</a>
            </div><br />

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
