@model IEnumerable<HealthCareApp.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">All Appointments</h1>

<p>
    <a asp-action="Create" class="btn btn-info text-light">Reserve</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="text-warning">Status</th>

            <th>@Html.DisplayNameFor(model => model.AvailableSlot.Availability.Date)</th>
            <th>@Html.DisplayNameFor(model => model.AvailableSlot.Availability.dayOfWeek)</th>
            <th>@Html.DisplayNameFor(model => model.AvailableSlot.StartTime)</th>

            <th>Doctor</th>
            <th>Patient Name</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (DateOnly.FromDateTime(DateTime.Now) > item.AvailableSlot.Availability.Date || (DateOnly.FromDateTime(DateTime.Now) == item.AvailableSlot.Availability.Date && TimeOnly.FromDateTime(DateTime.Now) > item.AvailableSlot.EndTime))
                {
                    item.Status = Status.Completed;
                    item.paymentStatus = PaymentStatus.Paid;
                }

                <td class="fw-bold">@Html.DisplayFor(modelItem => item.Status)</td>

                <td>@Html.DisplayFor(modelItem => item.AvailableSlot.Availability.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.AvailableSlot.Availability.dayOfWeek)</td>
                <td>@Html.DisplayFor(modelItem => item.AvailableSlot.StartTime)</td>

                <td>@($"{item.AvailableSlot.Availability.Doctor.FirstName} {item.AvailableSlot.Availability.Doctor.LastName}")</td>
                <td>@item.PatientName</td>

                @if(item.Status == Status.Completed)
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Display</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary disabled text-secondary-emphasis">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary disabled text-secondary-emphasis">Cancel</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Display</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Cancel</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
