@model HealthCareApp.ViewModel.Doctor.AddAvailabilityVM

@{
    var mode = Model;

    ViewData["Title"] = "AddAvailability";
    List<DateTime> weekdates = new List<DateTime>();
    weekdates.Add( DateTime.Today);
    for (int i = 1; i < 7; i++)
        weekdates.Add(weekdates[0].AddDays(i));

}

<h1>AddAvailability</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAvailability" asp-route-id ="@Model.id" id="Form1" >
            <div asp-validation-summary="All" class="text-danger"></div>
            <table class="table">
                <thead>
                    <th>Day</th>
                    <th>Date</th>

                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Session Duration(min)</th>
                    <th>Clinic</th>
                    <th>Mode</th>
                    <th>Available</th>
                </thead>
                <tbody>
                    @for(int i =0;i<Model.DrAvailability.Count;i++){
                        bool x = Model.DrAvailability[i].IsAvailable;
                        <tr>
                            <input asp-for=@(Model.DrAvailability[i].id) hidden class="form-control-sm Dr-Id" disabled data-DrId="@Model.DrAvailability[i].id" />
                            <td><input asp-for="@Model.DrAvailability[i].dayOfWeek" readonly  class="form-control-sm" disabled  /></td>
                            <td><input asp-for="@Model.DrAvailability[i].Date" readonly class="form-control-sm" disabled /></td>

                            <td><input asp-for="@Model.DrAvailability[i].StartTime" class="form-control" disabled value=@(Model.DrAvailability[i].IsAvailable ?Model.DrAvailability[i].StartTime.ToString("HH:mm"):"")  /></td>
                            <td><input asp-for="@Model.DrAvailability[i].EndTime" class="form-control" disabled value=@(Model.DrAvailability[i].IsAvailable ?Model.DrAvailability[i].EndTime.ToString("HH:mm"):"") /></td>
                            <td><input asp-for="@Model.DrAvailability[i].Duration" class="form-control" disabled value=@(Model.DrAvailability[i].IsAvailable ?Model.DrAvailability[i].Duration:"") min="0" /></td>
                            <td>
                                <select asp-for="@Model.DrAvailability[i].ClinicId" asp-items="@(new SelectList(Model.DrClincs,"Id","Name"))" class="form-select-sm" value=@(Model.DrAvailability[i].IsAvailable ?Model.DrAvailability[i].ClinicId:"") disabled>
                                    <option value="">Select Clinic</option>
                                </select>
                            </td>
                            <td>
                                <select asp-for="@Model.DrAvailability[i].mode" asp-items="@(Html.GetEnumSelectList<HealthCareApp.Models.Type>())" class="form-select-sm" disabled value=@(Model.DrAvailability[i].IsAvailable ?Model.DrAvailability[i].mode:"")>
                                    <option value="">Select Mode</option>
                                </select>
                            </td>
                            <td><input  asp-for="@Model.DrAvailability[i].IsAvailable" class="ms-5 form-check availability-checkbox" data-index="@i" /></td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            document.addEventListener("DOMContentLoaded", function () {
            // Get all checkboxes with the class "availability-checkbox"
            const checkboxes = document.querySelectorAll(".availability-checkbox");
            
             const DrIds = document.querySelectorAll(".Dr-Id");

            for(var i =0;i<checkboxes.length;i++){
                    let index = checkboxes[i].dataset.index;
                    let isChecked = checkboxes[i].checked;
                    let drId = DrIds[i].value;
                    if(drId !=""){
                        document.querySelector(`input[name='DrAvailability[${index}].id']`).disabled = true;
                        document.querySelector(`input[name='DrAvailability[${index}].dayOfWeek']`).disabled = true;
                        document.querySelector(`input[name='DrAvailability[${index}].Date']`).disabled = true;
                        document.querySelector(`input[name='DrAvailability[${index}].StartTime']`).disabled = true;
                        document.querySelector(`input[name='DrAvailability[${index}].EndTime']`).disabled = true;
                        document.querySelector(`input[name='DrAvailability[${index}].Duration']`).disabled = true;
                        document.querySelector(`select[name='DrAvailability[${index}].ClinicId']`).disabled = true;
                        document.querySelector(`select[name='DrAvailability[${index}].mode']`).disabled = true;
                         document.querySelector(`input[name='DrAvailability[${index}].IsAvailable']`).disabled = true;
                         document.querySelector(`input[name='DrAvailability[${index}].IsAvailable']`).checked = true;


                        // Get the related input and select fields using name attributes

                    }
                    else{
                        document.querySelector(`input[name='DrAvailability[${index}].id']`).disabled = !isChecked;
                        document.querySelector(`input[name='DrAvailability[${index}].dayOfWeek']`).disabled = !isChecked;
                        document.querySelector(`input[name='DrAvailability[${index}].Date']`).disabled = !isChecked;
                        document.querySelector(`input[name='DrAvailability[${index}].StartTime']`).disabled = !isChecked;
                        document.querySelector(`input[name='DrAvailability[${index}].EndTime']`).disabled = !isChecked;
                        document.querySelector(`input[name='DrAvailability[${index}].Duration']`).disabled = !isChecked;
                        document.querySelector(`select[name='DrAvailability[${index}].ClinicId']`).disabled = !isChecked;
                        document.querySelector(`select[name='DrAvailability[${index}].mode']`).disabled = !isChecked;
                    }
            }



            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener("change", function () {
                    // Get the index from the data attribute
                    let index = this.dataset.index;
                    let isChecked = this.checked;

                    // Get the related input and select fields using name attributes
                    document.querySelector(`input[name='DrAvailability[${index}].id']`).disabled = !isChecked;

                    document.querySelector(`input[name='DrAvailability[${index}].dayOfWeek']`).disabled = !isChecked;
                    document.querySelector(`input[name='DrAvailability[${index}].Date']`).disabled = !isChecked;
                    document.querySelector(`input[name='DrAvailability[${index}].StartTime']`).disabled = !isChecked;
                    document.querySelector(`input[name='DrAvailability[${index}].EndTime']`).disabled = !isChecked;
                    document.querySelector(`input[name='DrAvailability[${index}].Duration']`).disabled = !isChecked;
                    document.querySelector(`select[name='DrAvailability[${index}].ClinicId']`).disabled = !isChecked;
                    document.querySelector(`select[name='DrAvailability[${index}].mode']`).disabled = !isChecked;

                });
            });
        });
    </script>
}
