@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthCareApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HealthCareApp.styles.css" asp-append-version="true" />
</head>
<style>
    body {
    background: linear-gradient(135deg, #f8f9fa 0%, #C5D3E8 100%);
    min-height: 100vh;
    }
</style>

<body>

    @if (SignInManager.IsSignedIn(User))
    {
        if(User.IsInRole("Doctor"))
        {
            @Html.Partial("_DoctorNavBar")
        }
        else if (User.IsInRole("Patient"))
        {
            @Html.Partial("_PatientNavbar")
        }
        else if(User.IsInRole("Admin"))
        {
            @Html.Partial("_AdminNavbar")

        }
    }
    else
    {

        @Html.Partial("_GuestNavBar")
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - HealthCareApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



