@model IEnumerable<SubSpecialization>

<table class="table table-hover mt-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <label>Specialization Name</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialization.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                    <a asp-action="DetailsByID" asp-route-id="@item.Id" class="btn btn-info ms-2">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger ms-2">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-secondary me-2"
                onclick="loadSearchPage(@(ViewBag.CurrentPage - 1))"
        @(ViewBag.CurrentPage == 1 ? "disabled" : "")>
            &lt; Prev
        </button>

        <span class="align-self-center">Page @ViewBag.CurrentPage of @ViewBag.TotalPages</span>

        <button class="btn btn-secondary ms-2"
                onclick="loadSearchPage(@(ViewBag.CurrentPage + 1))"
        @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")>
            Next &gt;
        </button>
    </div>
}