@model HealthCareApp.ViewModel.Review.ReviewVM;
@using System.Security.Claims
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="card-body">
    <div class="d-flex justify-content-between">
        <div>
            <div>
                @for (int i = 1; i <= 5; i++)
                {
                    if (i <= Model.Rating)
                    {
                        <i class="bi bi-star-fill text-warning"></i>
                    }
                    else
                    {
                        <i class="bi bi-star text-muted"></i>
                    }
                }

                @if (Model.IsApproved && Model.IsEdited)
                {
                    <span class="text-secondary-emphasis opacity-50 fst-italic" style="position:absolute; right:25px; top:13px">Edited</span>
                }

            </div>

            <p class="mb-2 fst-italic">"@Model.ReviewText"</p>
            <p class="mb-1">@Model.PatientName, @Model.Age years</p>
            <p class="mb-0 text-muted">@Model.ReviewDate.ToString("g")</p>

            @if (Model.IsApproved && userId == Model.PatientId)
            {
                <a asp-action="EditReview" asp-route-id="@Model.Id" class="text-secondary-emphasis text-decoration-none" style="position:absolute; right:20px; bottom:5px">Edit</a>
                <a asp-action="DeleteReview" asp-route-id="@Model.Id" class="text-danger text-decoration-none" style="position:absolute; right:60px; bottom:5px">Delete</a>
            }
        </div>
    </div>
</div>
